@charset "utf-8";

@media screen and (min-width: 1024px) {
  
html{
    /* width: 100%;
    margin: 0 auto; */
}

body{
    /* background: #F7F0DA; */
}

header {
    /* position: fixed;
    top: 0; left: 0; width: 100%;  */
    height: 120px; 
    /* background: #0D4633;
    z-index: 100; */
}
.header_top_center{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    width: 91.796%;
    /* margin: 0 auto; */
}
.header_top_snslogo_out{
    /* display: flex;
    position: absolute; */
    right: 96px;
}
.header_top_snslogo_out li a{
    /* display: flex;
    justify-content: right;
    align-items: right; */
}
.header_top_snslogo_out>li:nth-child(2){
    /* margin-left: 6px; */
}
.header_top_snslogo_out>li:nth-child(3){
    /* margin-left: 14px; */
}
.header_top_snslogo_out>li>a>img{
    /* width: 30px; */
}
.open_btn{
    /* position: absolute; */
    top: 53px;
    right: 4.468%;
}
.open_btn span{
    /* display: block;
    border: 1px solid #fff; */
    margin-bottom: 8px;
    /* width: 30px; */
}
nav{
    /* width: 100%; */
}
.nav_wrap{
    /* position: fixed;
    top: 0; right: -80%;
    width: 260px; height: 100%;
    background: #0D4633;
    z-index: 100; */
}
.gnb {
    /* width: 100%; line-height: 50px;
    text-align: center; */
}
.close_btn{
    /* position: absolute;
    top: 34px;
    right: 18.888%;
    width: 6px;
    height: 6px;
    cursor: pointer; */
}
.close_btn span {
    /* display: block;
    position: absolute;
    transform: translate(-50%);
    border: 1px solid #fff;
    margin-bottom: 8px;
    width: 28px; */
}
.close_btn span:first-child{
    /* transform: rotate(45deg); */
}
.close_btn span:last-child{
    /* transform: rotate(-45deg); */
}
.header_top_list{
    /* margin-top: 30px;
    margin-left: 50px;
    text-align: left; */
}
.gnb li a{
    /* display: block;
    color: #fff;
    width: 100%;
    height: 100%;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 22px; */
}
.header_top_snslogo_in{
    /* display: none; */
    /* 
    justify-content: left;
    margin-top: 20px;
    margin-left: 50px; */
}
.header_top_snslogo_in li a{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.header_top_snslogo_in>li:nth-child(2){
    /* margin-left: 6px; */
}
.header_top_snslogo_in>li:nth-child(3){
    /* margin-left: 14px; */
}
.header_top_logo>a>img{
    margin: 26px 0px;
    width: 493px;
}
.header_top_snslogo_in>li>a>img{
    /* width: 30px; */
}
.header_background{
    /* margin-top: 120px; */
    /* background: url("../img/1_03_header_backgroundImage.png") no-repeat center/cover; */
    padding-top: 356px;
    /* width: 100%; */
    height: 904px;
}
.header_background>div{
    /* width: 100%;
    text-align: center;
    color: white; */
}
.header_background>div>h2,
.header_bottomline,
.header_background>div>h3{
    /* font-weight: normal; */
}
.header_bottomline{
    /* margin: 32px auto;
    border-bottom: 4px solid #fff;
    width: 264px; */
}
.header_background>div>h2{
    /* font-size: 64px; */
}
.header_background>div>h3{
    /* font-size: 42px; */
}
.bottomline{
    /* margin: 34px auto;
    margin-bottom: 60px; */
    /* border-bottom: 2px solid #FFD1A9; */
    /* width: 100px; */
    /* text-align: center; */
}
main .title{
    /* text-align: center;
    font-weight: bold; */
    font-size: 60px;
    /* color: #0D4633; */
}
main .subtitle{
    margin-bottom: 60px;
    font-size: 24px;
    /* width: 100%; */
    /* text-align: center; */
    line-height: 32px;
}
main .story{
    font-size: 24px;
    /* font-weight: normal; */
    /* text-align: center; */
    line-height: 30px;
}
/* 가운데 칼럼 정렬 */
.brandstory{
    width: 91.796%;
    /* margin: 0 auto; */
}
.ingredients{
    width: 100%;
    /* margin: 0 auto; */
}
.newtouslesjours_story{
    width: 91.796%;
    /* margin: 0 auto; */
}
.productinformation_story{
    width: 91.796%;
    /* margin: 0 auto; */
}
.productinformation_btn{
    width: 91.796%;
    /* margin: 0 auto; */
}
.productinformation_slider_box{
    width: 91.796%;
    /* margin: 0 auto; */
}
.productinformation_indecator{
    width: 91.796%;
    /* margin: 0 auto; */
}
.recommend_slider>div:first-child{
    width: 91.796%;
    /* margin: 0 auto; */
}
.recommend_left{
    width: 91.796%;
    /* margin: 0 auto; */
}
.findstore_title{
    width: 91.796%;
    /* margin: 0 auto; */
}
.findstore_story{
    width: 91.796%;
    /* margin: 0 auto; */
}

/* 브랜드 스토리 영역 */
.brandstory_box{
    /* position: relative; */
    margin-top: 300px;
}
.brandstory_left>.subtitle{
    /* width: 70%;
    margin: 0 auto; */
}
.brandstory_left>.story{
    /* margin: 30px 0 60px; */
    font-size: 22px;
    line-height: 30px;
}
.brandstory_left>.a_btn{
    /* position: absolute;
    display: inline-block; */
    bottom: -160px;
    /* left: 50%;
    transform: translate(-50%);
    background: #2C604A;
    color: #fff; */
    width: 243px; height: 66px;
    padding-top: 22px;
    font-size: 23px;
    /* font-weight: normal;
    text-align: center; */
}
.brandstory_image{
    /* background: url("../img/2_main_brandStory.png") no-repeat center/cover;*/
    margin-left: -42px;
    width: 98%; 
    height: 616px;
    box-shadow:26px 24px 0px 0px #2C604A;
}

/* 뚜레쥬르 재료이야기 영역 */
.ingredients_box{
    margin-top: 384px;
}
.ingredients_story>p{
    line-height: 32px;
}
.ingredients_story:nth-child(1){
    margin-bottom: 60px;
}
.ingredients_image{
    /* background: url("../img/3_01_main_ingredients_story.png") no-repeat center/cover;
    margin: auto 0; */
    margin-bottom: 40px;
    margin-left: -42px;
    width: 88%;
    height: 650px;
}
.ingredients_story:nth-child(2), 
.ingredients_story:nth-child(2)>div>h2,
.ingredients_story:nth-child(2)>div>p{
    /* text-align: right; */
    line-height: 24px;
}
.ingredients_story .subtitle{
    margin-top: 16px;
    /* font-weight: bold; */
    font-size: 38px;
    /* color: #0D4633; */
}
.ingredients_story:nth-child(2) .subtitle{
  padding-right: 206px;
}
.ingredients_story:nth-child(2) .bottomline{
    /* margin-right: 4px;
    margin-top: -20px; */
    margin-right: 208px;
  }
  .ingredients_story:nth-child(2) .story{
     width: 77.111%;
    /*margin-left: auto; */
    margin-right: 206px;
}
.ingredients_story:nth-child(2) .story:first-child{
    margin-bottom: 22px;
    font-size: 24px;
}
.ingredients_story:nth-child(2) .story:last-child{
    margin-bottom: 22px;
    font-size: 22px;
}
.ingredients_story:nth-child(2) .a_btn{
    /* display: inline-block;
    background: #2C604A;
    color: #fff; */
    width: 234px; height: 64px;
    padding-top: 20px;
    margin-right: 208px;
    font-size: 23px;
    /* font-weight: normal;
    text-align: center; */
    margin-bottom: 106px;
}
.ingredients_story:nth-child(3), 
.ingredients_story:nth-child(3)>div>h2,
.ingredients_story:nth-child(3)>div>p{
    /* text-align: left; */
    line-height: 24px;
}
.ingredients_story:nth-child(2) .subtitle{
    padding-left: 206px;
  }
.ingredients_story:nth-child(3) .story{
    font-size: 18px;
    margin-left: 60px;
}
.ingredients_story:nth-child(3){
    margin-left: 200px;
}
.ingredients_image2{
    /* background: url("../img/3_02_main_ingredients_story.png") no-repeat center/cover;
    margin: auto 0; */
    margin-bottom: 40px;
    margin-right: -42px;
    width: 100%;
    height: 540px;
}
.ingredients_story:nth-child(3) .subtitle{
    padding-left: 60px;
  }
.ingredients_story:nth-child(3) .bottomline{
    margin-left: 60px;
    /*margin-top: -20px; */
}
.ingredients_story:nth-child(3) .story:first-child{
    /* width: 81.666%;
    margin-right: auto; */
    font-size: 24px;
    margin-bottom: 30px;
}
.ingredients_story:nth-child(3) .story:last-child{
    font-size: 22px;
    margin-bottom: 70px;
}
.ingredients_story:nth-child(3) .a_btn{
    /* display: inline-block;
    background: #2C604A;
    color: #fff; */
    margin-top: 70px;
    width: 234px; height: 64px;
    padding-top: 20px;
    font-size: 23px;
    margin-left: 60px;
    /* font-weight: normal;
    text-align: center; */
    margin-bottom: 300px;
}

/* 새로워진 뚜레쥬르 영역 */
.newtouslesjours_box{
    /* position: relative; */
}
.newtouslesjours_background{
    /* position: absolute;
    width: 100%; */
    height: 84.635%;
    /* background: #0D4633; */
}
.newtouslesjours_story{
    /* position: relative;
    width: 100%; */
    padding-bottom: 120px;
    /* z-index: 0; */
}
.newtouslesjours_left>h2, .newtouslesjours_left>p{
    /* color: #fff; */
}
.newtouslesjours_left>h2{
    padding-top: 100px;
}
.newtouslesjours_left .bottomline{
    margin-bottom: 60px;
}
.newtouslesjours_left>p{
    /* text-align: center;
    margin: 0 auto;*/
    width: 84%; 
    font-size: 22px;
    line-height: 30px;
}
.newtouslesjours_left>a{
    /* display: inline-block;
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%); */
    margin-top: 358px;
    /* background: #2C604A;
    color: #fff; */
    width: 224px; height: 66px;
    padding-top: 22px;
    font-size: 23px;
    /* font-weight: normal; */
    /* text-align: center; */
    /* bottom: 0; */
}
.newtouslesjours_right{
    margin: 56px auto 0;
    /* background: url("../img/4_main_freshtouslesjours.png") no-repeat center/cover; */
    /* width: 97%; height: 519px; */
    box-shadow:14px 14px 4px #00000048;
}

/* 제품안내 영역 */
.productinformation{
    margin: 300px 0px;
    /* position: relative; */
}
.productinformation_background{
    /* position: absolute;
    width: 100%; */
    height: 1015px;
    /* background: #897058; */
}
.productinformation_story, .productinformation_btn, .productinformation_slider, .productinformation_indecator{
    /* position: relative; */
}
.productinformation_slider{
    /* white-space: nowrap;
    overflow: hidden;
    width: 100%;
    margin-left: auto; */
    padding-left: 7%;
}
.productinformation_box{
    /* color: #fff; */
}
.productinformation_story>h2{
    /* padding-top: 100px; */
    padding-left: 7%;
    /* color: #fff;
    text-align: left; */
}
.productinformation_story>div{
    margin-left: 7%;
    /* margin-bottom: 60px; */
}
.productinformation_story>p{
    /* font-size: 24px;
    margin-bottom: 32px; */
    padding-left: 7%;
}
.productinformation_btn{
    margin-left: 5.666%;
    padding-left: 5%;
    /* margin-bottom: 24px; */
    /* color: #fff; */
}
.productinformation_btn a{
    /* margin-right: 29px;
    font-size: 20px; */
    /* color: #C4C2C2; */
}
.productinformation_btn>a:first-child{
    /* color: #fff;
    font-weight: bold; */
}
.productinformation_slide{
    /* display: inline-block;
    position: relative; */
    width: 46.2%;
    /* text-align: center; */
}
.productinformation_slide:nth-child(1)>.slide_image{
    /* background: url("../img/5_01_main_productinformation.png") no-repeat center/auto 100%;
    width: 100%; */
    /* height: 424px; */
}
.productinformation_slide:nth-child(2)>.slide_image{
    /* background: url("../img/5_02_main_productinformation.png") no-repeat center/auto 100%;
    width: 100%; */
    /* height: 424px; */
}
.productinformation_slide:nth-child(3)>.slide_image{
    /* background: url("../img/5_03_main_productinformation.png") no-repeat center/auto 100%;
    width: 100%; */
    /* height: 424px; */
}
.productinformation_slide:nth-child(4)>.slide_image{
    /* background: url("../img/5_04_main_productinformation.png") no-repeat center/auto 100%;
    width: 100%; */
    /* height: 424px; */
}
.slide_price{
    /* margin-top: 16px; */
    /* font-weight: normal; */
    /* font-size: 20px; */
}
.productinformation_indecator{
    padding-left: 6.6%;
}
.slide_price_left{
    /* float: left; */
}
.slide_price_right{
    /* float: right; */
}
.productinformation_slide .a_btn {
    /* display: block; */
    /* padding-top: 64px;
    width: 46px; */
    /* text-align: left; */
    /* font-size: 18px; */
    /* color: #fff;
    border-bottom: 1px solid #fff; */
}
/* 페이지 인디케이터 기본 스타일 */
.swiper-pagination-bullet {
    /* width: 24px;
    height: 24px;
    margin-top: 45px;
    margin-right: 12px; */
    /* background: #C4C2C2; */
    /* border-radius: 50%; */
    /* display: inline-block; */
    /* opacity: 0.6; */
    /* transition: background-color 0.3s, opacity 0.3s; */
  }
  
  .swiper-pagination-bullet-active {
    /* background: #fff; */
    /* opacity: 1.0; */
  }


/* 추천제품 영역 */
.recommend {
    margin-top: 320px;
    /* position: relative; */
}
.recommend_background{
    /* position: absolute; */
    /* background: #365442; */
    /* width: 100%; */
    height: 640px;
    clip-path: polygon(0 0,53% 0, 88% 100%, 0 100%);
}
.recommend_slider{
    /* position: relative;
    white-space: nowrap;
    overflow: hidden; */
}
.recommend_slider h2{
    padding-top: 100px;
    margin-left: 7%;
    /* width: 100%; */
    /* color: #fff;
    text-align: left; */
}
.recommend_slider .bottomline{
    margin-left: 7%;
}
.recommend_title{
    margin-left: 7%;
    /* font-weight: normal; */
    /* font-size: 40px; */
    /* color: #fff; */
    padding-bottom: 40px;
}
.recommend_story{
    /* display: block;
    white-space: initial; */
    /* font-weight: normal; */
    /* color: #fff; */
    line-height: 30px;
    font-size: 22px;
    width: 374px;
    padding-left: 7%;
    padding-bottom: 40px;
}
.recommend_btn{
    margin-left: 7%;
    /* color: #fff;
    text-align: left; */
    /* font-size: 18px; */
    /* width: 80px; */
}
.recommend_slide{
    /* display: inline-block;
    position: relative;
    width: 100%;
    margin-left: auto; */
}
.recommend_slide_image {
    /* background: url("../img/6_main_sandwich.png") no-repeat center/contain; */
    margin: -434px 404px 280px;
    width: 62%;
    /* height: 613px; */
}
.swiper-button-next, .swiper-button-prev{
    /* width: 60px;
    height: 60px;
    border-radius: 80%; */
    /* position: absolute; */
    top: 30%;
    /* transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black; */
}
.swiper-button-next::before{
    /* content: '';
    border: solid #000; */
    /* border-width: 0 5px 5px 0; */
    /* display: inline-block; */
    /* padding: 20px; */
    /* transform: rotate(-45deg); */
    /* -webkit-transform: rotate(-45deg); */
}
.swiper-button-prev::before{
    /* content: '';
    border: solid #fff; */
    /* border-width: 0 5px 5px 0; */
    /* display: inline-block; */
    /* padding: 20px; */
    /* transform: rotate(135deg);
    -webkit-transform: rotate(135deg); */
}
.swiper-button-next{
    right: 16px;
}
.swiper-button-prev{
    left: 16px;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled{
    /* opacity: 0.3;
    cursor: not-allowed; */
}

/* 매장찾기 영역 */
.findstore{
    /* position: relative; */
}
.findstore_background{
    /* background: url("../img/7_main_findingthestore.png") no-repeat center/cover; */
    /* position: absolute;
    width: 100%; */
    height: 646px;
}
.findstore_title{
    /* position: relative;
    text-align: center;
    color: #fff; */
    margin-bottom: 26px;
}
.findstore_story{
    /* font-size: 18px;
    font-weight: normal;
    margin-bottom: 50px; */
}
.findstore_title{
    padding-top: 230px;
    font-size: 60px;
    /* font-weight: normal; */
}
.findstore_search{
    /* position: relative; */
    /* width: 516px; */
    /* margin: 0 auto;
    display: flex;
    justify-content: center; */
}
.input_wrapper{
    /* position: relative;
    width: 100%; */
}
.findstore_search>form{
    /* position: absolute; */
}
.searchstore{
    /* width: 100%;
    box-sizing: border-box; */
}
.searchstore_input{
    /* width: 328px;
    height: 34px; */
    /* margin: auto 0; */
}
.searchstore_btn{
    /* position: absolute;
    right: 0;
    top: 0;
    background: url("../img/7_main_findingthestore_d.png") no-repeat center/contain; */
    /* width: 30px;
    height: 100%; */
    /* border: none;
    color: #000;
    cursor: pointer; */
}

/* 신선한 빵 설명 영역 */
.fresh_bread{
    margin-top: 560px;
    /* position: relative; */
}
.fresh_bread_box{
    /* display: flex;
    justify-content: flex-end; 
    position: relative; */
}
.fresh_bread_background{
    /* background: url("../img/8_main_haveagoodbread.png")no-repeat center/cover;
    position: absolute;
    width: 100%; 
    height: 536px;*/
}

.fresh_bread_story{
    /* text-align: left;
    position: relative;
    background: #fff;
    opacity: 0.6; */
    /* top: 248px; */
    width: 400px;
    /* height: 178px;
    margin-right: 44px; */
    /* margin-left: auto;  */
}
.fresh_bread_story h3{
    margin-left: 20px;
    font-size: 40px;
    /* font-weight: normal; */
}
.fresh_bread_story p {
    margin-top: 24px;
    /* text-align: right; */
    margin-right: 55px;
    font-size: 20px;
}
.fresh_bread_story>h3:nth-child(1){
    margin-top: 14px;
}
.fresh_bread_story>h3:nth-child(2){
    margin-top: 12px;
}
footer{
    /* margin-top: 358px; 
    position: relative; */
}
.footer_container{
    /* position: absolute;
    background: #072B1F;
    width: 100%; */
    height: 480px;
}
.footer_box{
    width: 91.796%;
    /* margin: 0 auto;
    color: #fff; */
}
.footer_title{
    /* margin-top: 95px;
    background: url("../img/1_01_header_bread_logo.png") no-repeat center/contain; */
    /* margin: 95px auto 0; */
    width: 492px;
    /* height: 68px; */
}
.footer_title_line{
     margin: 14px auto;
    /* border-bottom: 2px solid #fff; */
    width: 264px;
}
.footer_btn{
    margin-top: 74px;
    /* font-weight: normal; */
    padding-left: 17.729%;
    font-size: 18px;
    /* width: 100%; */
}
.footer_btn a{
    /* color: #fff; */
    margin: 0 22px;
}
.information{
    margin-top: 36px;
    margin-left: 5%;
    font-size: 18px;
    /* font-weight: normal; */
    width: 90%;
    /* text-align: center;
    line-height: 30px; */
}
.information span{
    /* margin: 0 20px; */
}
.information:last-child span{
    /* font-size: 18px; */
}
}